:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: #e3b604;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive; 
}

/* Cosas para arreglar el modelo de caja y no se ponga más espacio en los elementos del que queremos y arreglar el tamaño de los rem. 1 rem = 10px */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* Globales */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*el 1.5 lo toma de la base de la fuente, no se tiene que especificar su unidad de medida*/
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {font-size: 4rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.4rem;}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
    padding: 1rem;
}


/* Navegacion */
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* Separar elementos entre si en flexbox */
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    /* Separacion de la forma vieja
    margin-rigth: 2rem; */
}

/* Seleccionar el ultimo elemento
Podemos usarlo para centrar bien el contenido en la forma vieja */
.navegacion__enlace:last-of-type {
    /* margin-rigth: 0; */
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr) );
    /* column-gap: 2rem;
    row-gap: 2rem; */
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
} 

/* Productos */
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

/* Media queries del nombre */
.producto__nombre {
    font-size: 4rem;
}

@media (max-width: 459px) {
    .producto__nombre {
        font-size: 3rem;
    }
} 

@media (max-width: 350px) {
    .producto__nombre {
        font-size: 2rem;
    }
} 

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Graficos */
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
}

.grafico--camisas {
    /* Lineas verticales
    Ve de la linea 2 a la 3*/
    grid-row: 2/3;
    /* lineas horizontales
    Ve de la linea 1 a la 3*/
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
}

@media (min-width: 768px) {
    .grafico--node {
        /* Lineas verticales
            Ve de la linea 2 a la 3*/
            grid-row: 5/6;
            /* lineas horizontales 
            Ve de la linea 1 a la 3*/
            grid-column: 2/4;
        }
} 


/* ######### Sobre nosotros */
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: 2rem;
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    width: 100%;
    grid-row: 1/2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2/3;
    }
} 

/* Bloques */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 1080px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
} 

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}


/* ###Pagina del producto */
.camisa {
    padding: 2rem;
}
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
} 

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    /* border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid; */

    border: 1rem solid var(--primarioOscuro);
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;

    /* Arreglar problema del tamaño de los input */
    min-width: 50%;
    background-color: var(--primario);
}

option[disabled] {
    color: rgba(255, 255, 255, 0.778);
}

input .formulario__campo {
    max-width: 50%;
}

.formulario__campo::placeholder {
    color: var(--blanco);
}

.formulario__campo option {
    background-color: var(--primarioOscuro);
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    /* animacion para cambiar de color el fondo del boton */
    transition: background-color 0.2s ease;
    transition: font-size 0.2s ease;
    border-radius: 1rem;
    grid-column: 1/3;
}

.formulario__submit:hover {
    font-size: 2.1rem;
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}





